@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';

/* size */
$font-sizes: (
  7: $font-size-base * 0.8,
);
/* size */

$theme-colors: (
  'info': #51bfff,
  'primary': #ffa8cc,
  'secondary': #a15374,
  'danger': #ff0000,
);
$info: #51bfff;
$primary: #ffa8cc;
$secondary: #a15374;

$body-color-dark: $primary;
$body-bg-dark: rgb(19, 9, 16);
$body-secondary-color-dark: rgba($body-color-dark, 0.75);
$body-secondary-bg-dark: #0a0006;
$body-tertiary-color-dark: rgba($body-color-dark, 0.5);
//$body-tertiary-bg-dark: mix($gray-800, $gray-900, 50%);
$body-tertiary-bg-dark: mix($body-bg-dark, #000, 60%);
$navbar-color: $primary;

$body-emphasis-color-dark: mix($primary, #ff2f2f, 90%);
$emphasis-color: $primary;
$border-color-dark: $secondary;
$border-color-translucent-dark: rgba(#fff, 0.15);
$headings-color-dark: inherit;
$link-color-dark: tint-color($primary, 40%);
$link-hover-color-dark: shift-color($link-color-dark, -40%);
$code-color-dark: tint-color($code-color, 40%);
$navbar-dark-color: #fff;
$btn-close-color: $primary;
$input-placeholder-color: mix($secondary, #000, 60%);
$input-placeholder-style: 'italic';

$transition: 0.4s;
$enable-negative-margins: true;

@import 'bootstrap/scss/bootstrap';
