.server-container {
  height: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: end;
  gap: 5px;
  @media (max-width: 576px) {
    display: none;
  }
}
.servers-radioGroup {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
